<footer>
    <div class="footer-icons">
        <a href="#"><img src="{{url_for('static', filename='svg/facebook.svg')}}" alt="Facebook"></a>
        <a href="#"><img src="{{url_for('static', filename='svg/instagram.svg')}}" alt="Instagram"></a>
        <a href="#"><img src="{{url_for('static', filename='svg/tiktok.svg')}}" alt="TikTok"></a>
        <a href="#"><img src="{{url_for('static', filename='svg/x.svg')}}" alt="X"></a>
        <a href="#"><img src="{{url_for('static', filename='svg/linkedIn.svg')}}" alt="LinkedIn"></a>
    </div>
    <div class="footer-logo">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="Car Logo" class="carLogo">
    </div>
    <div class="footer-text">
        <p class="copyright">Copyright © 2024 RER-QA Consulting</p>
        <p><a href="#">Información legal</a> | <a href="#">Políticas de privacidad</a></p>
    </div>
    <p class="footerCredits">Made And Design By <a>2V</a> Prod</p>
</footer>