{% extends "layout.html" %}

{% block titulo %}Home{% endblock %}

{% block body %}
<main>
    <div class="hero">
        <h1 class="motd-hero">Alquila el <br>Auto de tus sueños</h1>
        <div class="searchBar">
            
        </div>        
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/nissan.png')}}" alt="" class="logosSlider">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/lamborghini.webp')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/Toyota.png')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/hyundai.png')}}" alt="" class="logosSlider gris logosSlider4">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/honda.png')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/volkswagen.webp')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/porsche.png')}}" alt="" class="logosSlider">
            </div>
            <!-- separador -->
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/nissan.png')}}" alt="" class="logosSlider">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/lamborghini.webp')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/Toyota.png')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/hyundai.png')}}" alt="" class="logosSlider gris logosSlider4">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/honda.png')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/volkswagen.webp')}}" alt="" class="logosSlider gris">
            </div>
            <div class="slide">
                <img src="{{url_for('static', filename='images/index/porsche.png')}}" alt="" class="logosSlider">
            </div>
        </div>
    </div>
    <div class="mainCardsCont">
        <div class="featuredSection">
            <div class="firstField cardsField">
                <div class="topPagination">
                    <h2>Destacados <span class="star-icon">⭐</span></h2>
                </div>
                <div class="cardsContainer">
                    {% for auto in autos_destacados %}
                    <div class="card-catalogo">
                        <img class="card_img-catalogo" src="{{ url_for('static', filename=auto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="{{ auto.modelo }}">
                        <div class="card_info-catalogo">
                            <div class="card_info-catalogo_top">
                                <img src="{{ url_for('static', filename=('images/logosmarca/' ~ auto.marca ~ 'logo.webp')|lower) }}" alt="{{ auto.marca }}" class="card_marca-logo_catalogo">
                                <div>
                                    <h2>{{ auto.marca }} {{ auto.modelo }}</h2>
                                    <p>{{ auto.transmision }} <span>• {{ auto.traccion }}</span></p>
                                </div>
                            </div>
                            <div class="card_info-catalogo_bottom">
                                <a href="{{ url_for('inicio.alquilar_auto', auto_id=auto.id) }}" class="btn-alquilar_card-catalogo">Alquilar</a>
                                <h2>${{ auto.precio_dia }}<span class="spanDia-catalogo">/dia</span></h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="secondField cardsField">
                <div class="topPagination">
                    <h2>Nuevo Ingreso</h2>
                </div>
                <div class="cardsContainer">
                    {% for auto in autos_nuevo_ingreso %}
                    <div class="card-catalogo">
                        <img class="card_img-catalogo" src="{{ url_for('static', filename=auto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="{{ auto.modelo }}">
                        <div class="card_info-catalogo">
                            <div class="card_info-catalogo_top">
                                <img src="{{ url_for('static', filename=('images/logosmarca/' ~ auto.marca ~ 'logo.webp')|lower) }}" alt="{{ auto.marca }}" class="card_marca-logo_catalogo">
                                <div>
                                    <h2>{{ auto.marca }} {{ auto.modelo }}</h2>
                                    <p>{{ auto.transmision }} <span>• {{ auto.traccion }}</span></p>
                                </div>
                            </div>
                            <div class="card_info-catalogo_bottom">
                                <a href="{{ url_for('inicio.alquilar_auto', auto_id=auto.id) }}" class="btn-alquilar_card-catalogo">Alquilar</a>
                                <h2>${{ auto.precio_dia }}<span class="spanDia-catalogo">/dia</span></h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}