{% extends "ad_layout.html" %}
{% block css %}{{ url_for('static', filename='css/admin.css') }}{% endblock %}
{% block titulo %}Admin Autos{% endblock %}

{% block body %}
    <main>
        <dialog id="newAutoDialog">
            <div class="dialog-main-cont">
                <button class="close-btn" id="close-newAuto">&times;</button>   
                <form id="autoForm" action="{{ url_for('admn.nuevo_auto') }}" method="POST" enctype="multipart/form-data">
                    <div class="admin-dialog-header">
                        <h2>|<span id="modalTitle">NUEVO AUTO</span></h2> 
                        <button type="submit" id="submitButton">AGREGAR</button>
                    </div>
                    <input type="hidden" name="id" id="autoId">
                    <div class="file-select">
                        <input type="file" name="imagen" id="inp-imagen" aria-label="Archivo">
                    </div>
                    <input type="text" name="marca" id="marca" placeholder="Marca" required>
                    <input type="text" name="modelo" id="modelo" placeholder="Modelo" required>
                    <select name="transmision" id="transmision" required>
                        <option value="">Transmision</option>
                        <option value="Manual">Manual</option>
                        <option value="Automatica">Automatico</option>
                    </select>
                    <select name="traccion" id="traccion" required>
                        <option value="">Traccion</option>
                        <option value="FWD">FWD</option>
                        <option value="RWD">RWD</option>
                        <option value="AWD">AWD</option>
                    </select>
                    <input type="number" name="potencia" id="potencia" placeholder="Potencia (HP)" required>
                    <input type="number" name="stock" id="stock" placeholder="Stock" required>
                    <select name="categoria" id="categoria" required>
                        <option value="">Categoria</option>
                        <option value="Economico">Economico</option>
                        <option value="Lujoso">Lujoso</option>
                        <option value="Exotico">Exotico</option>
                    </select>
                    <div class="cont-bottom">
                        <input type="number" step="0.01" name="precio_dia" id="precioDia" placeholder="Precio/Dia" required>
                        <select name="disponibilidad" id="disponibilidad" required>                            
                            <option value="">Disponibilidad</option>
                            <option value="true">Si</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </form>
            </div>                     
        </dialog>        
        <div class="header-ad_auto">
            <h1>Lista de Vehiculos</h1>
            <button id="AdminAddNewAuto">NUEVO AUTO</button>
        </div>
        <table class="admin-table">
            <thead>
                <tr class="admin-table-header admin-table-header-autos">
                    <th>Imagen</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Transmision</th>
                    <th>Traccion</th>
                    <th>Potencia</th>
                    <th>Precio/Dia</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th>Disponibilidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="admin-table-row admin-table-row-autos">
                {% for auto in autos %}
                <tr >
                    <td><img src="{{ url_for('static', filename=auto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="Imagen del auto" class="admin-form-img"></td>
                    <td>{{ auto.marca }}</td>
                    <td>{{ auto.modelo }}</td>
                    <td>{{ auto.transmision }}</td>
                    <td>{{ auto.traccion }}</td>
                    <td>{{ auto.potencia }}</td>
                    <td>{{ auto.precio_dia }}</td>
                    <td>{{ auto.stock }}</td>
                    <td>{{ auto.categoria }}</td>
                    <td>{{ auto.disponibilidad }}</td>
                    <td>
                        <button class="edit-auto-btn" data-id="{{ auto.id }}" data-imagen="{{ auto.imagen }}" data-marca="{{ auto.marca }}" data-modelo="{{ auto.modelo }}" data-precio_dia="{{ auto.precio_dia }}" data-disponibilidad="{{ auto.disponibilidad }}" data-transmision="{{ auto.transmision }}" data-traccion="{{ auto.traccion }}" data-potencia="{{ auto.potencia }}" data-stock="{{ auto.stock }}" data-categoria="{{ auto.categoria }}"><img src="{{ url_for('static', filename='svg/admin_icons/editar.svg') }}" alt="Editar"></button>
                        <form action="{{ url_for('admn.eliminar_auto', auto_id=auto.id) }}" method="POST" class="delete-auto-form" style="display:inline;">
                            <button type="submit" class="delete-auto-btn"><img src="{{ url_for('static', filename='svg/admin_icons/eliminar.svg') }}" alt="Eliminar"></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cards-container-crud">
            {% for auto in autos %}
            <div class="card-crud">
                <img src="{{ url_for('static', filename=auto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="Imagen del auto" class="admin-form-img">
                <div class="card_info-crud">
                    <h2>{{ auto.marca }} {{ auto.modelo }}</h2>
                    <p>Transmision: {{ auto.transmision }}</p>
                    <p>Traccion: {{ auto.traccion }}</p>
                    <p>Potencia: {{ auto.potencia }} HP</p>
                    <p>Precio/Dia: ${{ auto.precio_dia }}</p>
                    <p>Stock: {{ auto.stock }}</p>
                    <p>Categoria: {{ auto.categoria }}</p>
                    <div class="card_actions-crud">
                        <button class="edit-auto-btn" data-id="{{ auto.id }}" data-imagen="{{ auto.imagen }}" data-marca="{{ auto.marca }}" data-modelo="{{ auto.modelo }}" data-precio_dia="{{ auto.precio_dia }}" data-transmision="{{ auto.transmision }}" data-traccion="{{ auto.traccion }}" data-potencia="{{ auto.potencia }}" data-stock="{{ auto.stock }}" data-categoria="{{ auto.categoria }}">Editar</button>
                        <form action="{{ url_for('admn.eliminar_auto', auto_id=auto.id) }}" method="POST" class="delete-auto-form">
                            <button type="submit" class="delete-auto-btn">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}