{% extends "ad_layout.html" %}

{% block titulo %}Admin{% endblock %}

{% block body %}
    <main>
        <div class="analytics">
            <div class="analytics-container"> 
                <div class="analytics-card" onclick="window.location.href='/admin/vehiculos'" cursor="pointer">
                    <div class="analytics-card-up">
                        <img src="{{url_for('static', filename='svg/ad_svg/car.svg')}}" alt="Vehículos" class="analytics-icon">
                        <h2>Vehículos</h2>
                    </div>
                    <p>{{ vehicle_count }}</p>
                </div>
                <div class="analytics-card" onclick="window.location.href='/admin/usuarios'" cursor="pointer">
                    <div class="analytics-card-up">
                        <img src="{{url_for('static', filename='svg/ad_svg/user.svg')}}" alt="Usuarios" class="analytics-icon">
                        <h2>Usuarios</h2>
                    </div>
                    <p>{{ user_count }}</p>
                </div>
                <div class="analytics-card" onclick="window.location.href='/admin/personal'">
                    <div class="analytics-card-up">
                        <img src="{{url_for('static', filename='svg/ad_svg/personal.svg')}}" alt="Personal" class="analytics-icon">
                        <h2>Personal</h2>
                    </div>
                    <p>{{ personal_count }}</p>
                </div>
            </div>
        </div>
        <div class="loans">
            <div>
                <h2>Lista de reservas</h2>            
            </div>
            <table class="prestamos-adm">
                <thead>
                    <tr class="admin-prestamo-header">
                        <th>ID</th>
                        <th class="name-prestamo"><img src="{{url_for('static', filename='svg/reserva/usuario.svg')}}" alt=""> Cliente</th>
                        <th class="car-prestamo">Auto</th>
                        <th><img src="{{url_for('static', filename='svg/reserva/calendario.svg')}}" alt="">F. Inicio</th>
                        <th><img src="{{url_for('static', filename='svg/reserva/calendario.svg')}}" alt="">F. Fin</th>
                        <th><img src="{{url_for('static', filename='svg/reserva/status.svg')}}" alt="">Status</th>
                        <th>Precio Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="admin-prestamo-row">
                    {% for prestamo in prestamos %}
                    <tr>
                        <td>🟪{{ prestamo.Prestamo.id }}</td>
                        <td class="name-prestamo">{{ prestamo.Usuario.nombre }} {{ prestamo.Usuario.apellido }} <span class="email"><br>{{ prestamo.Usuario.correo }}</span></td>
                        <td class="car-prestamo">{{ prestamo.Auto.marca }} {{ prestamo.Auto.modelo }}</td>
                        <td>{{ prestamo.Prestamo.fecha_inicio.strftime('%b %d, %Y') }}</td>
                        <td>{{ prestamo.Prestamo.fecha_fin.strftime('%b %d, %Y') }}</td>
                        <td class="status"><p class="{{ prestamo.Prestamo.status|lower }}">{{ prestamo.Prestamo.status }}</p></td>
                        <td>${{ prestamo.Prestamo.precio_total }}</td>
                        <td class="actions">
                            {% if prestamo.Prestamo.status == 'pendiente' %}
                            <form action="{{ url_for('admn.aprobar_prestamo', prestamo_id=prestamo.Prestamo.id) }}" method="POST">
                                <button type="submit">Aprobar</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
