{% extends "layout.html" %}

{% block titulo %}Alquilar Auto{% endblock %}

{% block body %}
<main class="main_alquilar_auto">
    <div class="topInfo-Rent">            
        <img src="{{ url_for('static', filename='images/catalogo/logosmarca/' ~ auto.marca ~ 'logo.webp') }}" alt="{{ auto.modelo }} Logo" class="alquiler_Auto-Logo">
        <h1>{{ auto.marca }} {{ auto.modelo }}</h1>
        <p> Economy • Modelo {{ auto.año }}</p>
        <a href="" class="alquiler_Btn" id="openModal">Alquilar | ${{ auto.precio_dia }}/dia</a>
    </div>
    <div class="autoImage_AlquilerContainer">
        <img src="{{ url_for('static', filename=auto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="{{ auto.modelo }}" class="autoImage_Alquiler">
    </div>
    <div class="carInfo_Alquiler">
        <p>{{ auto.marca }} <span>Marca</span> </p>
        <p>{{ auto.modelo }} <span>Modelo</span> </p>
        <p>{{ auto.año }} <span>Año</span> </p>
        <p>${{ auto.precio_dia }} <span>Precio</span> </p>
    </div>
    <hr>
    <!-- Modal Structure -->
    <dialog id="alquilar-Modal">
        <div class="modal-content">
            <button class="modal-close" id="closeModal">&times;</button>
            <h4>Alquilar Auto</h4>
            <form method="POST" data-precio-dia="50.0">
                <label for="fecha_inicio">Fecha de inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" required>
                
                <label for="fecha_fin">Fecha de fin:</label>
                <input type="date" id="fecha_fin" name="fecha_fin" required>
                
                <p>Precio total: $<span id="precio_total">0.00</span></p>
                
                <button type="submit" class="modal-btn_alquiler">Alquilar</button>
            </form>
        </div>
    </dialog>
</main>

<script src="{{ url_for('static', filename='js/alquiler.js') }}"></script>
{% endblock %}