footer {
    background-color: #100E2E;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Lexend Exa", serif;
    font-size: 14px;
}
.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.footer-icons a {
    margin: 0 10px;
}
.footer-icons img {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
}
.footer-logo {
    margin-bottom: 10px;
}
.footer-logo img {
    width: 50px;
    height: auto;
}
.footer-text p {
    margin: 5px 0;
}
.footer-text a {
    color: #fff;
    text-decoration: none;
}
.footer-text a:hover {
    text-decoration: underline;
}

.carLogo{
    border-radius: 50%;
}

.copyright{
    color: #969696;
}

.footer-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footerCredits{
    display: flex;
    justify-self: flex-end;
    gap: 5px;
    cursor: default;
    a{
        color: #7647FE;
        font-weight: 800;
    }
}

.footerCredits a:hover {
    text-decoration: underline;
    cursor: pointer;
}
